.list_row {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    border-bottom: 1px solid rgba(31, 32, 65, 0.08);
}

.buttons_box {
    display: flex;
    margin-left: 10px;
}

.background_text {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-size: 20px;
    color: rgba(31, 32, 65, 0.3);
}

.button_del {
    height: 20px;
    width: 20px;
    background: url("../../images/garbage.svg") no-repeat;
    border: none;
    color: red;
    margin-left: 3px;
}

.button_done {
    height: 20px;
    width: 20px;
    background: url("../../images/verified.svg") no-repeat;
    border: none;
    margin-right: 3px;
}

.button_done:hover {
    transform: scale(0.9);
}

.button_del:hover {
    transform: scale(0.9);
}

